In [1]:
!pip install --upgrade scikit-learn==1.3.2
!pip install pydub
!pip install SpeechRecognition
!pip install googletrans==4.0.0-rc1

import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords, wordnet
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet as wn

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
import joblib

nltk.download('omw')
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

from IPython.display import display
import numpy as np
import pandas as pd
import json

from googletrans import Translator
from gensim.models import KeyedVectors

import speech_recognition as sr

from pydub import AudioSegment


# Cargar el modelo pre-entrenado de Word2Vec
model = KeyedVectors.load_word2vec_format('GoogleNews-vectors-negative300.bin', binary=True)

formato = {
    'rojo': "\033[1;91m{}\033[0m",
    'azul': "\033[1;94m{}\033[0m",
    'amarillo': "\033[1;33m{}\033[0m"
}

def traducir(palabra):
    translator = Translator()
    translation = translator.translate(palabra, src='es', dest='en')
    return translation.text

def encontrar_relacion(palabra1, palabra2):
    if palabra1 == palabra2:
        return 1
    # Comprobar si las palabras están en el vocabulario del modelo
    if palabra1 not in model.index_to_key or palabra2 not in model.index_to_key:
        relaciones = []
        for syn1 in wn.synsets(palabra1):
            for syn2 in wn.synsets(palabra2):
                similitud = syn1.path_similarity(syn2)
                if similitud is not None:
                    relaciones.append((syn1, syn2, similitud))
        if relaciones:
            df = pd.DataFrame(relaciones, columns=['syn1', 'syn2', 'similitud'])
            return df['similitud'].max()
        else:
            return 0

    similitud = model.similarity(palabra1, palabra2)

    return similitud

def procesar_entrada(texto):
    tokens = word_tokenize(texto)
    tokens = [word for word in tokens if word.isalnum()]
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word.lower() not in stop_words]
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word.lower()) for word in tokens]
    return tokens

def transcribe_audio(ruta_audio):

    file_to_wav(ruta_audio, "audio.wav")
    # Crear un objeto reconocedor de voz
    reconocedor = sr.Recognizer()

    # Leer el archivo de audio
    with sr.AudioFile("audio.wav") as audio:
        # Escuchar el audio usando el reconocedor
        audio = reconocedor.record(audio)
        try:
            # Transcribir el audio utilizando el modelo en español
            texto_transcrito = reconocedor.recognize_google(audio, language='es-ES')
            return texto_transcrito
        except sr.UnknownValueError:
            print("No se pudo entender el audio")
            return ""
        except sr.RequestError as e:
            print("Error al solicitar la transcripción; {0}".format(e))
            return ""

def file_to_wav(file, wav_file="audio.wav"):
    if file.endswith(".mp3"):
        audio = AudioSegment.from_mp3(file)
    elif file.endswith(".mp4"):
        audio = AudioSegment.from_file(file, format="mp4")
    audio.export(wav_file, format="wav")

Requirement already satisfied: scikit-learn==1.3.2 in c:\users\rauls\anaconda3\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\rauls\anaconda3\lib\site-packages (from scikit-learn==1.3.2) (1.22.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\rauls\anaconda3\lib\site-packages (from scikit-learn==1.3.2) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\rauls\anaconda3\lib\site-packages (from scikit-learn==1.3.2) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\rauls\anaconda3\lib\site-packages (from scikit-learn==1.3.2) (2.2.0)
Requirement already satisfied: pydub in c:\users\rauls\anaconda3\lib\site-packages (0.25.1)
Requirement already satisfied: SpeechRecognition in c:\users\rauls\anaconda3\lib\site-packages (3.10.1)
Requirement already satisfied: requests>=2.26.0 in c:\users\rauls\anaconda3\lib\site-packages (from SpeechRecognition) (2.31.0)
Requirement already satisfied: typing-extensions in c:\users\rauls\anaconda3\lib\site-packages (from SpeechRecognition) (4.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rauls\anaconda3\lib\site-packages (from requests>=2.26.0->SpeechRecognition) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rauls\anaconda3\lib\site-packages (from requests>=2.26.0->SpeechRecognition) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rauls\anaconda3\lib\site-packages (from requests>=2.26.0->SpeechRecognition) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rauls\anaconda3\lib\site-packages (from requests>=2.26.0->SpeechRecognition) (2024.2.2)
Requirement already satisfied: googletrans==4.0.0-rc1 in c:\users\rauls\anaconda3\lib\site-packages (4.0.0rc1)
Requirement already satisfied: httpx==0.13.3 in c:\users\rauls\anaconda3\lib\site-packages (from googletrans==4.0.0-rc1) (0.13.3)
Requirement already satisfied: certifi in c:\users\rauls\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2024.2.2)
Requirement already satisfied: hstspreload in c:\users\rauls\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2024.3.1)
Requirement already satisfied: sniffio in c:\users\rauls\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.2.0)
Requirement already satisfied: chardet==3.* in c:\users\rauls\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.4)
Requirement already satisfied: idna==2.* in c:\users\rauls\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2.10)
Requirement already satisfied: rfc3986<2,>=1.3 in c:\users\rauls\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.5.0)
Requirement already satisfied: httpcore==0.9.* in c:\users\rauls\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.1)
Requirement already satisfied: h11<0.10,>=0.8 in c:\users\rauls\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.0)
Requirement already satisfied: h2==3.* in c:\users\rauls\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.2.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in c:\users\rauls\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (5.2.0)
Requirement already satisfied: hpack<4,>=3.0 in c:\users\rauls\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.0)

[nltk_data] Downloading package omw to
[nltk_data]     C:\Users\rauls\AppData\Roaming\nltk_data...
[nltk_data]   Package omw is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\rauls\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rauls\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\rauls\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [12]:
palabra1, palabra2 = "car","bus"
relaciones = []
for syn1 in wn.synsets(palabra1):
    for syn2 in wn.synsets(palabra2):
        similitud = syn1.path_similarity(syn2)
        if similitud is not None:
            relaciones.append((syn1, syn2, similitud))
df = pd.DataFrame(relaciones, columns=['syn1', 'syn2', 'similitud'])
print(sorted(list(df['similitud']),reverse=True))
print(df['similitud'].max())

[0.5, 0.16666666666666666, 0.16666666666666666, 0.14285714285714285, 0.125, 0.1111111111111111, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.07692307692307693, 0.07692307692307693, 0.07692307692307693, 0.07692307692307693, 0.07692307692307693, 0.07142857142857142, 0.07142857142857142, 0.07142857142857142, 0.07142857142857142, 0.07142857142857142, 0.07142857142857142, 0.07142857142857142, 0.06666666666666667, 0.06666666666666667, 0.06666666666666667, 0.06666666666666667, 0.06666666666666667, 0.0625, 0.05555555555555555, 0.05263157894736842, 0.05263157894736842, 0.05263157894736842, 0.05]
0.5

In [2]:
# dicc.json to dicc
with open('dicc.json', 'r') as file:
    dicc = json.load(file)

In [3]:
# Read PrimerosAuxilios.txt
file = open("dolencias medicas copy.txt", "r")
primeros_auxilios = file.read().split("\n")
file.close()

textos = {}

target = ""
for x in primeros_auxilios:
  if '"' not in x:
    elemento = x.split(".")[-1].strip()
    if elemento!='':
      if elemento not in textos:
        textos[elemento]=[]
      target = elemento
  else:
      textos[elemento].append(x.split('"')[1])

In [6]:
def scan(objetive,frase,modelo):
    global dicc, formato, X, y, df_total
    tokens = list(set(procesar_entrada(frase)))

    claves,result = [x for x in dicc],[]
    columns_df = ["key","vector","model","comb","real"]

    for key in claves:
        dataset = procesar_entrada(key)+dicc[key]

        lista = [max([encontrar_relacion(x, y) for y in tokens]) for x in dataset]
        mean = np.mean(lista)
        n = (np.mean(lista)+np.max(lista))*np.mean(lista)
        lista += [mean for _ in range(11-len(lista))]

        X.append(lista)
        y.append(objetive==key)

        prob = modelo.predict_proba([lista])[0][1]

        result.append([key,n,prob,prob+n,objetive==key])

    df = pd.DataFrame(result,columns=columns_df)
    df_total.append(df)
    multi = 1/sum(df['comb'])
    df['comb'] = df['comb'].apply(lambda x: x*multi)
    df.sort_values(by="comb",inplace=True,ascending=False)

    claves = list(df.head(5)['key'].values)
    if objetive==claves[0]:
      print(formato["azul"].format("EXITO"))
      display(df.head(1))
    elif objetive in claves:
      print(formato["amarillo"].format("WARNING"))
      print(frase)
      print(tokens)
      display(df.head(5))
    else:
      print(formato["rojo"].format("ERROR"))
      print(frase)
      print(tokens)
      display(df)


    return X,y,df_total


X,y,df_total=[],[],[]
rfm = joblib.load('modelo_random_forest.pkl')

for key in textos:
    for f in textos[key]:
      print(key)
      frase = traducir(f).lower()
      for x in [",","."]: frase = frase.replace(x,f"{x} ")

      X,y,df_total = scan(key,frase,rfm)
      print()

chemical burn
EXITO

             key    vector  model      comb  real
0  chemical burn  0.873047   0.74  0.377338  True

chemical burn
EXITO

             key    vector  model      comb  real
0  chemical burn  0.238056   0.65  0.330044  True

chemical burn
EXITO

             key    vector  model      comb  real
0  chemical burn  0.974045   0.93  0.369657  True

chemical burn
EXITO

             key    vector  model      comb  real
0  chemical burn  0.532771   0.29  0.202842  True

chemical burn
EXITO

             key    vector  model      comb  real
0  chemical burn  0.473691   0.38  0.363678  True

chemical burn
EXITO

             key    vector  model      comb  real
0  chemical burn  0.581522   0.27  0.247777  True

chemical burn
EXITO

             key    vector  model      comb  real
0  chemical burn  0.667141    0.6  0.311833  True

chemical burn
WARNING
when trying to unblock the sink with a very strong liquid,  something of the product jumped and burn my hand. a blister is starting to form.
['burn', 'form', 'trying', 'something', 'hand', 'liquid', 'sink', 'strong', 'product', 'starting', 'jumped', 'unblock', 'blister']

                            key    vector  model      comb   real
2                   severe burn  0.585032   0.42  0.236957  False
0                 chemical burn  0.621478   0.25  0.205469   True
1  burn intoxication inhalation  0.464232   0.14  0.142460  False
5                          fire  0.199740   0.16  0.084816  False
6                    hemorrhage  0.268248   0.03  0.070318  False

chemical burn
EXITO

             key    vector  model      comb  real
0  chemical burn  0.705124   0.69  0.297462  True

chemical burn
EXITO

             key   vector  model      comb  real
0  chemical burn  0.44555   0.16  0.208706  True

chemical burn
WARNING
i was painting with a painting remover and without realizing it,  it caused me burns in my fingers. the skin is irritated and very red.
['painting', 'without', 'remover', 'finger', 'skin', 'realizing', 'burn', 'red', 'caused', 'irritated']

                            key    vector  model      comb   real
2                   severe burn  0.711115   0.36  0.294989  False
0                 chemical burn  0.614571   0.19  0.221582   True
1  burn intoxication inhalation  0.433097   0.11  0.149571  False
5                          fire  0.186124   0.09  0.076046  False
4                         sting  0.162197   0.00  0.044670  False

chemical burn
EXITO

             key    vector  model      comb  real
0  chemical burn  0.625764   0.33  0.368814  True

chemical burn
WARNING
my sister burned with a liquid for permanent while making hair at home. it has burns in the scalp and is very sore.
['burned', 'making', 'home', 'sore', 'liquid', 'permanent', 'burn', 'sister', 'hair', 'scalp']

                            key    vector  model      comb   real
2                   severe burn  0.542826   0.23  0.228240  False
0                 chemical burn  0.488226   0.10  0.173722   True
1  burn intoxication inhalation  0.448625   0.07  0.153166  False
5                          fire  0.196460   0.10  0.087554  False
4                         sting  0.211439   0.00  0.062445  False

burn intoxication inhalation
EXITO

                            key    vector  model      comb  real
1  burn intoxication inhalation  0.873256   0.72  0.246094  True

burn intoxication inhalation
EXITO

                            key    vector  model  comb  real
1  burn intoxication inhalation  0.783171   0.81  0.32  True

burn intoxication inhalation
EXITO

                            key    vector  model      comb  real
1  burn intoxication inhalation  0.655856   0.75  0.241595  True

burn intoxication inhalation
EXITO

                            key    vector  model      comb  real
1  burn intoxication inhalation  0.627486   0.31  0.225558  True

burn intoxication inhalation
EXITO

                            key    vector  model      comb  real
1  burn intoxication inhalation  0.532975   0.16  0.249706  True

burn intoxication inhalation
EXITO

                            key    vector  model      comb  real
1  burn intoxication inhalation  0.567804   0.26  0.192303  True

burn intoxication inhalation
WARNING
while we painted the interior of the house,  my brother began to feel bad,  with nausea and dizziness. i think it's because of the vapors of painting.
['painting', 'bad', 'feel', 'house', 'painted', 'vapor', 'interior', 'dizziness', 'think', 'nausea', 'began', 'brother']

                             key    vector  model      comb   real
3                 food poisoning  0.573104   0.39  0.290747  False
11                  hypoglycemia  0.537130   0.07  0.183284  False
1   burn intoxication inhalation  0.283832   0.03  0.094741   True
5                           fire  0.222302   0.02  0.073147  False
0                  chemical burn  0.178162   0.01  0.056803  False

burn intoxication inhalation
EXITO

                            key    vector  model      comb  real
1  burn intoxication inhalation  0.676106   0.63  0.230874  True

burn intoxication inhalation
WARNING
working with hydrochloric acid in the laboratory,  a container was broken. although i used mask,  i feel an irritation in my throat and difficulty breathing.
['throat', 'used', 'feel', 'breathing', 'laboratory', 'hydrochloric', 'although', 'acid', 'difficulty', 'irritation', 'broken', 'container', 'mask', 'working']

                            key    vector  model      comb   real
8                       choking  0.472840   0.32  0.182248  False
1  burn intoxication inhalation  0.548060   0.20  0.171955   True
0                 chemical burn  0.467525   0.16  0.144248  False
9               cardiopulmonary  0.395645   0.09  0.111634  False
5                          fire  0.276884   0.08  0.082036  False

burn intoxication inhalation
EXITO

                            key    vector  model      comb  real
1  burn intoxication inhalation  0.646779   0.35  0.210977  True

burn intoxication inhalation
WARNING
cleaning with ammonia in a bad ventilated space,  i began to feel very weak and with a headache. now i'm coughing a lot.
['lot', 'cleaning', 'bad', 'feel', 'ammonia', 'weak', 'coughing', 'began', 'headache', 'ventilated', 'space']

                             key    vector  model      comb   real
0                  chemical burn  0.459505   0.37  0.252051  False
6                     hemorrhage  0.437626   0.01  0.136014  False
1   burn intoxication inhalation  0.349069   0.07  0.127337   True
3                 food poisoning  0.259022   0.02  0.084783  False
11                  hypoglycemia  0.231858   0.02  0.076529  False

burn intoxication inhalation
EXITO

                            key    vector  model     comb  real
1  burn intoxication inhalation  0.676643   0.45  0.21487  True

burn intoxication inhalation
WARNING
after a small fire in the garage,  where we keep chemicals and paintings,  my head hurts and i have nausea. i think i inhaled some toxic vapors.
['painting', 'head', 'small', 'vapor', 'toxic', 'fire', 'nausea', 'hurt', 'think', 'keep', 'chemical', 'inhaled', 'garage']

                             key    vector  model      comb   real
3                 food poisoning  0.581706   0.49  0.186754  False
5                           fire  0.630017   0.33  0.167292  False
1   burn intoxication inhalation  0.459438   0.41  0.151507   True
0                  chemical burn  0.478147   0.26  0.128629  False
11                  hypoglycemia  0.518533   0.11  0.109528  False

severe burn
EXITO

           key    vector  model     comb  real
2  severe burn  0.784933    0.6  0.29602  True

severe burn
EXITO

           key    vector  model      comb  real
2  severe burn  0.648855   0.86  0.367031  True

severe burn
EXITO

           key    vector  model      comb  real
2  severe burn  0.987187   0.81  0.345244  True

severe burn
EXITO

           key    vector  model      comb  real
2  severe burn  0.860438   0.42  0.256881  True

severe burn
WARNING
an accident with fireworks caused burns on my face and chest. the skin is seriously affected,  with ampoules and areas that seem carbonized.
['affected', 'seem', 'seriously', 'accident', 'carbonized', 'face', 'ampoule', 'skin', 'chest', 'firework', 'area', 'burn', 'caused']

                            key    vector  model      comb   real
1  burn intoxication inhalation  0.491143   0.23  0.192083  False
2                   severe burn  0.505243   0.12  0.166539   True
0                 chemical burn  0.449399   0.03  0.127692  False
9               cardiopulmonary  0.433991   0.04  0.126252  False
5                          fire  0.214476   0.13  0.091754  False

severe burn
EXITO

           key    vector  model      comb  real
2  severe burn  0.578406   0.38  0.240789  True

severe burn
EXITO

           key    vector  model      comb  real
2  severe burn  0.619119   0.39  0.201657  True

severe burn
WARNING
i tried to turn off a fat fire in the kitchen and the fire reached me. the burns in my hands and arms are deep,  with fabric that seems melted.
['fat', 'turn', 'seems', 'kitchen', 'melted', 'hand', 'fire', 'reached', 'deep', 'burn', 'tried', 'fabric', 'arm']

                            key    vector  model      comb   real
5                          fire  0.605408   0.33  0.220271  False
2                   severe burn  0.605479   0.22  0.194385   True
1  burn intoxication inhalation  0.412412   0.09  0.118309  False
6                    hemorrhage  0.410659   0.08  0.115541  False
0                 chemical burn  0.417826   0.05  0.110164  False

severe burn
EXITO

           key    vector  model      comb  real
2  severe burn  0.824269   0.86  0.312253  True

severe burn
WARNING
i was welding without proper protection and the sparks caused serious burns in my neck and chest. the pain is acute and continuous,  and i fear for the scars.
['proper', 'serious', 'protection', 'without', 'continuous', 'spark', 'pain', 'welding', 'chest', 'scar', 'acute', 'burn', 'neck', 'fear', 'caused']

                             key    vector  model      comb   real
9                cardiopulmonary  0.539013   0.18  0.159629  False
1   burn intoxication inhalation  0.506860   0.20  0.156931  False
2                    severe burn  0.525203   0.16  0.152123   True
0                  chemical burn  0.447968   0.06  0.112775  False
11                  hypoglycemia  0.296650   0.00  0.065860  False

severe burn
EXITO

           key    vector  model      comb  real
2  severe burn  0.621092   0.45  0.225213  True

severe burn
WARNING
an explosion in a laboratory caused me serious burns on my face and hands. the wounds are deep,  and i am concerned about infection and disfiguration.
['serious', 'disfiguration', 'concerned', 'hand', 'infection', 'face', 'deep', 'wound', 'laboratory', 'burn', 'explosion', 'caused']

                            key    vector  model      comb   real
6                    hemorrhage  0.560881   0.34  0.212836  False
2                   severe burn  0.519695   0.13  0.153492   True
1  burn intoxication inhalation  0.452100   0.14  0.139885  False
0                 chemical burn  0.427348   0.03  0.108050  False
3                food poisoning  0.276737   0.07  0.081918  False

severe burn
EXITO

           key    vector  model      comb  real
2  severe burn  0.573182   0.38  0.232473  True

food poisoning
EXITO

              key    vector  model     comb  real
3  food poisoning  0.909467   0.97  0.44333  True

food poisoning
EXITO

              key    vector  model      comb  real
3  food poisoning  1.029788   0.97  0.440369  True

food poisoning
EXITO

              key    vector  model      comb  real
3  food poisoning  1.231873   0.95  0.392822  True

food poisoning
EXITO

              key    vector  model      comb  real
3  food poisoning  0.871721   0.97  0.443537  True

food poisoning
EXITO

              key    vector  model      comb  real
3  food poisoning  0.962491    0.9  0.420898  True

food poisoning
EXITO

              key    vector  model      comb  real
3  food poisoning  0.716112   0.43  0.346885  True

food poisoning
EXITO

              key    vector  model      comb  real
3  food poisoning  0.979998   0.76  0.350236  True

food poisoning
EXITO

              key    vector  model      comb  real
3  food poisoning  0.660106   0.29  0.338188  True

food poisoning
EXITO

              key    vector  model      comb  real
3  food poisoning  0.514638    0.8  0.403403  True

food poisoning
EXITO

              key    vector  model      comb  real
3  food poisoning  1.107918   0.98  0.467942  True

food poisoning
EXITO

              key    vector  model      comb  real
3  food poisoning  0.770053   0.58  0.376758  True

food poisoning
EXITO

              key    vector  model      comb  real
3  food poisoning  0.972535   0.85  0.332161  True

food poisoning
EXITO

              key    vector  model      comb  real
3  food poisoning  0.608275   0.27  0.210919  True

sting
EXITO

     key    vector  model     comb  real
4  sting  0.493232   0.59  0.34067  True

sting
EXITO

     key    vector  model      comb  real
4  sting  0.707227   0.87  0.504469  True

sting
EXITO

     key    vector  model      comb  real
4  sting  0.687499   0.98  0.418128  True

sting
EXITO

     key    vector  model      comb  real
4  sting  0.977347   0.95  0.433244  True

sting
EXITO

     key    vector  model      comb  real
4  sting  0.697157   0.56  0.255819  True

sting
WARNING
while cleaning the attic,  something stung me on my arm. the area has swollen an alarming size and i feel nausea.
['attic', 'swollen', 'cleaning', 'feel', 'something', 'alarming', 'nausea', 'area', 'size', 'stung', 'arm']

               key    vector  model      comb   real
3   food poisoning  0.554499   0.33  0.200654  False
0    chemical burn  0.548885   0.24  0.178964  False
4            sting  0.472791   0.28  0.170775   True
11    hypoglycemia  0.533013   0.10  0.143603  False
5             fire  0.188482   0.05  0.054101  False

sting
EXITO

     key    vector  model      comb  real
4  sting  0.352185   0.53  0.197475  True

sting
EXITO

     key    vector  model      comb  real
4  sting  0.793105   0.64  0.315597  True

sting
EXITO

     key    vector  model      comb  real
4  sting  0.349871   0.41  0.258092  True

sting
WARNING
i woke up with a bite on the cheek. the swelling has closed my eye and the area is hot and hurts when touching it.
['woke', 'bite', 'hot', 'closed', 'eye', 'area', 'hurt', 'touching', 'swelling', 'cheek']

                            key    vector  model      comb   real
2                   severe burn  0.495670   0.32  0.254091  False
4                         sting  0.302857   0.04  0.106804   True
0                 chemical burn  0.239378   0.05  0.090144  False
6                    hemorrhage  0.245840   0.04  0.089043  False
1  burn intoxication inhalation  0.158349   0.12  0.086709  False

sting
WARNING
something stung me while walking through the grass. now i have several red points,  swelling and sharp pain.
['grass', 'point', 'pain', 'something', 'sharp', 'walking', 'red', 'several', 'swelling', 'stung']

              key    vector  model      comb   real
2     severe burn  0.470764   0.00  0.141511  False
4           sting  0.329957   0.14  0.141268   True
0   chemical burn  0.424328   0.04  0.139576  False
6      hemorrhage  0.251303   0.19  0.132654  False
11   hypoglycemia  0.292620   0.00  0.087961  False

sting
EXITO

     key    vector  model      comb  real
4  sting  0.511003   0.24  0.225727  True

sting
ERROR
i felt acute pain in my back and discovered a bite with two brands. i am experiencing chills and the area feels numb.
['discovered', 'numb', 'chill', 'two', 'feel', 'experiencing', 'pain', 'bite', 'felt', 'back', 'brand', 'area', 'acute']

                             key    vector  model      comb   real
2                    severe burn  0.237954   0.13  0.131153  False
11                  hypoglycemia  0.310855   0.04  0.125058  False
6                     hemorrhage  0.294104   0.05  0.122652  False
3                 food poisoning  0.243703   0.04  0.101122  False
10                      epilepsy  0.227989   0.02  0.088393  False
9                cardiopulmonary  0.220391   0.02  0.085684  False
4                          sting  0.221335   0.00  0.078892   True
8                        choking  0.182383   0.01  0.068572  False
0                  chemical burn  0.179088   0.00  0.063834  False
1   burn intoxication inhalation  0.157801   0.00  0.056246  False
7                  electrocution  0.116105   0.00  0.041384  False
5                           fire  0.103833   0.00  0.037010  False

fire
EXITO

    key    vector  model      comb  real
5  fire  0.557413   0.39  0.325138  True

fire
EXITO

    key    vector  model      comb  real
5  fire  0.237284    0.7  0.310333  True

fire
EXITO

    key    vector  model      comb  real
5  fire  0.856286   0.87  0.495452  True

fire
EXITO

    key    vector  model      comb  real
5  fire  0.556898   0.39  0.304033  True

fire
EXITO

    key    vector  model     comb  real
5  fire  0.703054   0.46  0.36711  True

fire
EXITO

    key    vector  model      comb  real
5  fire  0.856286   0.87  0.463824  True

fire
EXITO

    key    vector  model      comb  real
5  fire  0.580581   0.36  0.285147  True

fire
EXITO

    key    vector  model      comb  real
5  fire  0.597724   0.33  0.341846  True

fire
EXITO

    key    vector  model     comb  real
5  fire  0.597695   0.38  0.27483  True

fire
EXITO

    key    vector  model      comb  real
5  fire  0.678356   0.69  0.499518  True

fire
EXITO

    key    vector  model      comb  real
5  fire  0.589174   0.36  0.337572  True

fire
EXITO

    key    vector  model      comb  real
5  fire  0.566438   0.39  0.405989  True

fire
EXITO

    key    vector  model      comb  real
5  fire  0.566372   0.42  0.362103  True

hemorrhage
EXITO

          key    vector  model      comb  real
6  hemorrhage  0.676795    0.9  0.445753  True

hemorrhage
EXITO

          key    vector  model      comb  real
6  hemorrhage  0.669487   0.81  0.391402  True

hemorrhage
EXITO

          key    vector  model      comb  real
6  hemorrhage  0.629038    0.7  0.482611  True

hemorrhage
EXITO

          key   vector  model      comb  real
6  hemorrhage  0.52228   0.44  0.332813  True

hemorrhage
EXITO

          key    vector  model      comb  real
6  hemorrhage  0.785187   0.76  0.456178  True

hemorrhage
EXITO

          key    vector  model      comb  real
6  hemorrhage  0.497761   0.36  0.307896  True

hemorrhage
EXITO

          key    vector  model      comb  real
6  hemorrhage  0.647115   0.59  0.441524  True

hemorrhage
EXITO

          key    vector  model      comb  real
6  hemorrhage  0.443913   0.28  0.356847  True

hemorrhage
EXITO

          key   vector  model      comb  real
6  hemorrhage  0.73883   0.71  0.508875  True

hemorrhage
EXITO

          key    vector  model      comb  real
6  hemorrhage  0.839491    0.8  0.439934  True

hemorrhage
EXITO

          key    vector  model      comb  real
6  hemorrhage  0.782811   0.86  0.418884  True

hemorrhage
EXITO

          key    vector  model      comb  real
6  hemorrhage  0.407087   0.28  0.228995  True

hemorrhage
EXITO

          key    vector  model      comb  real
6  hemorrhage  0.450332   0.23  0.230096  True

electrocution
EXITO

             key    vector  model      comb  real
7  electrocution  0.725369   0.79  0.444751  True

electrocution
EXITO

             key    vector  model      comb  real
7  electrocution  0.466641   0.63  0.334012  True

electrocution
EXITO

             key    vector  model      comb  real
7  electrocution  0.552079   0.72  0.367647  True

electrocution
EXITO

             key    vector  model      comb  real
7  electrocution  0.585789   0.55  0.269579  True

electrocution
EXITO

             key    vector  model      comb  real
7  electrocution  0.454189   0.44  0.269285  True

electrocution
EXITO

             key    vector  model      comb  real
7  electrocution  0.580115   0.65  0.362166  True

electrocution
EXITO

             key    vector  model      comb  real
7  electrocution  0.490547   0.28  0.385749  True

electrocution
EXITO

             key    vector  model     comb  real
7  electrocution  0.623732   0.31  0.27714  True

electrocution
WARNING
i tried to fix the air conditioning and received a download. i am somewhat disoriented and with a strong headache.
['disoriented', 'headache', 'somewhat', 'conditioning', 'air', 'fix', 'strong', 'tried', 'download', 'received']

                            key    vector  model      comb   real
1  burn intoxication inhalation  0.452797   0.19  0.204438  False
7                 electrocution  0.384426   0.25  0.201775   True
9               cardiopulmonary  0.449600   0.08  0.168436  False
6                    hemorrhage  0.242820   0.00  0.077227  False
3                food poisoning  0.190227   0.01  0.063681  False

electrocution
EXITO

             key    vector  model      comb  real
7  electrocution  0.393108   0.25  0.194029  True

electrocution
EXITO

             key    vector  model      comb  real
7  electrocution  0.450277   0.25  0.174965  True

electrocution
EXITO

             key    vector  model      comb  real
7  electrocution  0.454175   0.55  0.308858  True

electrocution
EXITO

             key    vector  model      comb  real
7  electrocution  0.582884   0.58  0.438339  True

choking
EXITO

       key    vector  model      comb  real
8  choking  0.679204   0.86  0.397169  True

choking
EXITO

       key    vector  model      comb  real
8  choking  0.587313   0.73  0.335995  True

choking
EXITO

       key    vector  model     comb  real
8  choking  0.789712   0.96  0.31536  True

choking
WARNING
ceving,  my brother began to cough strongly and now he can't speak or breathe well;it seems that something is blocking his throat.
['throat', 'cough', 'well', 'ca', 'seems', 'something', 'strongly', 'blocking', 'breathe', 'ceving', 'speak', 'began', 'brother']

                            key    vector  model      comb   real
1  burn intoxication inhalation  0.687341   0.11  0.211677  False
8                       choking  0.510122   0.23  0.196487   True
9               cardiopulmonary  0.535100   0.07  0.160641  False
3                food poisoning  0.300530   0.13  0.114297  False
5                          fire  0.350799   0.06  0.109058  False

choking
EXITO

       key    vector  model      comb  real
8  choking  0.381528   0.31  0.176363  True

choking
EXITO

       key    vector  model      comb  real
8  choking  0.642921   0.51  0.287584  True

choking
WARNING
while we ate corn popcorn during the movie,  my friend choked. he is coughing but does not improve and it seems that he cannot breathe -correctly.
['friend', 'corn', 'choked', 'seems', 'coughing', 'breathe', 'ate', 'improve', 'popcorn', 'movie']

                            key    vector  model      comb   real
1  burn intoxication inhalation  0.558153   0.15  0.172660  False
8                       choking  0.431011   0.27  0.170918   True
3                food poisoning  0.457268   0.23  0.167568  False
9               cardiopulmonary  0.482547   0.04  0.127406  False
5                          fire  0.368702   0.06  0.104525  False

choking
EXITO

       key    vector  model      comb  real
8  choking  0.364124   0.21  0.226197  True

choking
EXITO

       key    vector  model      comb  real
8  choking  0.359797   0.19  0.224548  True

choking
EXITO

       key    vector  model      comb  real
8  choking  0.430107   0.53  0.251668  True

choking
WARNING
eating nuts,  i felt that one was going on the wrong way. now it is difficult for me to breathe and i feel an oppression in my chest.
['going', 'difficult', 'wrong', 'eating', 'feel', 'felt', 'breathe', 'oppression', 'chest', 'way', 'nut', 'one']

                            key    vector  model      comb   real
9               cardiopulmonary  0.661535   0.27  0.230010  False
3                food poisoning  0.498583   0.35  0.209527  False
1  burn intoxication inhalation  0.495159   0.10  0.146953  False
5                          fire  0.364812   0.08  0.109831  False
8                       choking  0.299316   0.03  0.081313   True

choking
EXITO

       key    vector  model      comb  real
8  choking  0.532257   0.58  0.332489  True

choking
EXITO

       key    vector  model      comb  real
8  choking  0.523511   0.13  0.202793  True

cardiopulmonary
EXITO

               key    vector  model     comb  real
9  cardiopulmonary  0.680153   0.91  0.44967  True

cardiopulmonary
EXITO

               key    vector  model      comb  real
9  cardiopulmonary  0.203725   0.61  0.426085  True

cardiopulmonary
EXITO

               key    vector  model      comb  real
9  cardiopulmonary  0.632817   0.63  0.457642  True

cardiopulmonary
EXITO

               key    vector  model      comb  real
9  cardiopulmonary  0.374633   0.06  0.207787  True

cardiopulmonary
EXITO

               key    vector  model      comb  real
9  cardiopulmonary  0.576665   0.47  0.437296  True

cardiopulmonary
EXITO

               key    vector  model      comb  real
9  cardiopulmonary  0.803681    0.5  0.260144  True

cardiopulmonary
EXITO

               key    vector  model      comb  real
9  cardiopulmonary  0.555649   0.48  0.390474  True

cardiopulmonary
EXITO

               key    vector  model      comb  real
9  cardiopulmonary  0.544279   0.34  0.341617  True

cardiopulmonary
WARNING
in a family reunion,  my grandfather faded and seems to be unemployed. we tried to wake him up and tapped on his face,  but there is no answer.
['wake', 'answer', 'seems', 'unemployed', 'tapped', 'grandfather', 'face', 'tried', 'reunion', 'faded', 'family']

                key    vector  model      comb   real
3    food poisoning  0.064497   0.06  0.130109  False
8           choking  0.099142   0.00  0.103611  False
11     hypoglycemia  0.089165   0.00  0.093184  False
9   cardiopulmonary  0.078639   0.01  0.092635   True
0     chemical burn  0.088310   0.00  0.092291  False

cardiopulmonary
EXITO

               key    vector  model      comb  real
9  cardiopulmonary  0.369492   0.03  0.198314  True

cardiopulmonary
EXITO

               key    vector  model     comb  real
9  cardiopulmonary  0.609607   0.42  0.35301  True

cardiopulmonary
EXITO

               key    vector  model      comb  real
9  cardiopulmonary  0.262568   0.23  0.247222  True

cardiopulmonary
EXITO

               key    vector  model      comb  real
9  cardiopulmonary  0.658152   0.35  0.291245  True

epilepsy
EXITO

         key    vector  model      comb  real
10  epilepsy  0.726471   0.82  0.573681  True

epilepsy
EXITO

         key    vector  model      comb  real
10  epilepsy  0.531461   0.68  0.495677  True

epilepsy
EXITO

         key    vector  model      comb  real
10  epilepsy  0.478577   0.73  0.463372  True

epilepsy
EXITO

         key    vector  model      comb  real
10  epilepsy  0.781695   0.82  0.525683  True

epilepsy
EXITO

         key    vector  model      comb  real
10  epilepsy  0.581497   0.39  0.434614  True

epilepsy
EXITO

         key    vector  model    comb  real
10  epilepsy  0.223415   0.03  0.1552  True

epilepsy
WARNING
during class,  a student began to convulse. he slid from the chair to the ground and his arms and legs moved without control.
['slid', 'chair', 'leg', 'without', 'convulse', 'control', 'student', 'moved', 'began', 'ground', 'arm', 'class']

                key    vector  model      comb   real
3    food poisoning  0.175193   0.05  0.131039  False
10         epilepsy  0.203755   0.00  0.118565   True
11     hypoglycemia  0.141923   0.05  0.111680  False
9   cardiopulmonary  0.189287   0.00  0.110146  False
8           choking  0.162411   0.00  0.094507  False

epilepsy
EXITO

         key    vector  model      comb  real
10  epilepsy  0.754159   0.66  0.492392  True

epilepsy
EXITO

         key    vector  model     comb  real
10  epilepsy  0.794206   0.57  0.49585  True

epilepsy
EXITO

         key    vector  model      comb  real
10  epilepsy  0.544373   0.29  0.383994  True

epilepsy
EXITO

         key    vector  model      comb  real
10  epilepsy  0.674704   0.48  0.458499  True

epilepsy
EXITO

         key    vector  model      comb  real
10  epilepsy  0.620305   0.41  0.447437  True

epilepsy
EXITO

         key    vector  model     comb  real
10  epilepsy  1.053746   0.77  0.60869  True

hypoglycemia
EXITO

             key    vector  model     comb  real
11  hypoglycemia  0.976572   0.89  0.36539  True

hypoglycemia
EXITO

             key   vector  model      comb  real
11  hypoglycemia  0.71197   0.79  0.473289  True

hypoglycemia
EXITO

             key    vector  model      comb  real
11  hypoglycemia  0.525468   0.76  0.415485  True

hypoglycemia
WARNING
my co -worker suddenly felt dizzy and confused,  he had to sit because he said he saw everything blurred.
['everything', 'felt', 'said', 'confused', 'saw', 'dizzy', 'sit', 'blurred', 'co', 'suddenly']

                key    vector  model      comb   real
3    food poisoning  0.223468   0.05  0.179517  False
11     hypoglycemia  0.193468   0.00  0.127002   True
10         epilepsy  0.177404   0.00  0.116457  False
9   cardiopulmonary  0.152429   0.00  0.100062  False
8           choking  0.117775   0.00  0.077313  False

hypoglycemia
EXITO

             key    vector  model      comb  real
11  hypoglycemia  0.524146   0.11  0.242099  True

hypoglycemia
EXITO

             key    vector  model      comb  real
11  hypoglycemia  0.521513   0.72  0.419702  True

hypoglycemia
EXITO

             key    vector  model      comb  real
11  hypoglycemia  0.492956   0.68  0.448755  True

hypoglycemia
WARNING
while we were driving,  my mother said she didn't feel good,  that she needed to stop and eat something because her sugar level was low.
['good', 'feel', 'something', 'eat', 'said', 'sugar', 'stop', 'mother', 'needed', 'level', 'driving', 'low']

                             key    vector  model      comb   real
3                 food poisoning  0.516758   0.17  0.249470  False
11                  hypoglycemia  0.454618   0.18  0.230529   True
8                        choking  0.273766   0.10  0.135773  False
1   burn intoxication inhalation  0.144146   0.01  0.055995  False
6                     hemorrhage  0.151936   0.00  0.055192  False

hypoglycemia
EXITO

             key    vector  model      comb  real
11  hypoglycemia  0.728284   0.57  0.383689  True

hypoglycemia
WARNING
in the supermarket,  a lady felt bad,  she was pale and confusing. he said he needed to eat something sweet quickly.
['supermarket', 'lady', 'bad', 'sweet', 'something', 'felt', 'said', 'eat', 'quickly', 'pale', 'needed', 'confusing']

               key    vector  model      comb   real
3   food poisoning  0.514434   0.17  0.274399  False
11    hypoglycemia  0.424959   0.03  0.182399   True
8          choking  0.266684   0.05  0.126963  False
2      severe burn  0.143722   0.00  0.057620  False
6       hemorrhage  0.139543   0.00  0.055945  False

hypoglycemia
WARNING
my diabetic friend forgot to eat after his insulin and began to have hypoglycemia symptoms,  such as dizziness and sweating.
['hypoglycemia', 'symptom', 'friend', 'eat', 'sweating', 'insulin', 'dizziness', 'began', 'forgot', 'diabetic']

                key    vector  model      comb   real
3    food poisoning  0.753689   0.58  0.275278  False
11     hypoglycemia  0.825932   0.43  0.259228   True
8           choking  0.301272   0.09  0.080760  False
6        hemorrhage  0.142865   0.22  0.074896  False
9   cardiopulmonary  0.230830   0.11  0.070348  False

hypoglycemia
EXITO

             key    vector  model      comb  real
11  hypoglycemia  0.453411   0.03  0.244763  True

hypoglycemia
EXITO

             key    vector  model      comb  real
11  hypoglycemia  0.572863   0.58  0.434208  True

In [13]:
df = pd.DataFrame(X)
for i in range(len(df)):
    df.iloc[i] = df.iloc[i].fillna(df.iloc[i].mean())
df['y'] = y
df['y'] = df['y'].apply(lambda x: {True:1,False:0}[x])

X = df.drop('y', axis=1)
y = df['y'].values

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Crear un clasificador de Random Forest
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Entrenar el clasificador
rf_classifier.fit(X_train, y_train)

# Predecir las etiquetas para el conjunto de prueba
predictions = rf_classifier.predict(X_test)
probabilidades = rf_classifier.predict_proba(X_test)

# Supongamos que 'rf_classifier' es tu modelo entrenado

# Guardar el modelo en un archivo
joblib.dump(rf_classifier, 'modelo_random_forest2.pkl')

['modelo_random_forest2.pkl']

In [14]:
pd.set_option('display.max_rows', 300)

resultados = pd.DataFrame({'y_test': y_test, 'y_pred': predictions})
for i in range(probabilidades.shape[1]):
    resultados[f'prob_clase_{"False" if i==0 else "True"}'] = probabilidades[:, i]
display(resultados)

# Matriz de confusión
conf_matrix = confusion_matrix(y_test, predictions)
conf_matrix_df = pd.DataFrame(conf_matrix, index=rf_classifier.classes_, columns=rf_classifier.classes_)
display(conf_matrix_df)

reporte_clasificacion = classification_report(y_test, predictions, output_dict=True)
reporte_clasificacion_df = pd.DataFrame(reporte_clasificacion).transpose()
display(reporte_clasificacion_df)

display(resultados[(resultados['prob_clase_False']<0.8)|(resultados['y_test']!=resultados['y_pred'])])

     y_test  y_pred  prob_clase_False  prob_clase_True
0         0       0              0.99             0.01
1         0       0              1.00             0.00
2         0       0              1.00             0.00
3         0       0              0.89             0.11
4         0       0              0.99             0.01
..      ...     ...               ...              ...
370       0       0              1.00             0.00
371       1       1              0.31             0.69
372       0       0              1.00             0.00
373       0       0              0.99             0.01
374       0       0              0.99             0.01

[375 rows x 4 columns]

     0   1
0  339   4
1   12  20

              precision    recall  f1-score     support
0              0.965812  0.988338  0.976945  343.000000
1              0.833333  0.625000  0.714286   32.000000
accuracy       0.957333  0.957333  0.957333    0.957333
macro avg      0.899573  0.806669  0.845615  375.000000
weighted avg   0.954507  0.957333  0.954532  375.000000

     y_test  y_pred  prob_clase_False  prob_clase_True
20        0       1              0.36             0.64
23        1       1              0.08             0.92
40        1       1              0.14             0.86
46        1       1              0.34             0.66
52        0       0              0.62             0.38
73        1       0              0.78             0.22
82        1       1              0.16             0.84
84        0       1              0.22             0.78
90        0       0              0.59             0.41
91        1       1              0.49             0.51
92        1       1              0.04             0.96
105       1       1              0.43             0.57
110       0       1              0.41             0.59
117       1       1              0.31             0.69
127       1       0              0.56             0.44
141       1       0              0.50             0.50
151       1       1              0.07             0.93
152       1       0              0.52             0.48
163       0       0              0.63             0.37
173       0       0              0.60             0.40
179       1       1              0.31             0.69
181       0       0              0.70             0.30
187       1       1              0.31             0.69
191       0       0              0.62             0.38
192       1       1              0.09             0.91
195       1       0              0.53             0.47
199       0       0              0.70             0.30
203       0       0              0.79             0.21
225       1       1              0.10             0.90
226       0       0              0.51             0.49
230       1       0              0.72             0.28
243       1       0              0.77             0.23
256       1       0              0.88             0.12
258       0       0              0.78             0.22
259       0       0              0.75             0.25
269       0       0              0.79             0.21
272       1       0              0.99             0.01
274       0       0              0.76             0.24
275       1       0              1.00             0.00
283       0       1              0.45             0.55
287       1       1              0.08             0.92
296       1       0              0.82             0.18
304       1       0              0.78             0.22
307       1       1              0.33             0.67
312       1       1              0.23             0.77
327       0       0              0.53             0.47
336       1       1              0.29             0.71
341       1       1              0.31             0.69
364       0       0              0.77             0.23
368       1       1              0.38             0.62
371       1       1              0.31             0.69